volumes:
    postgres_data_{{ .DbName }}:

networks:
  {{ .DockerNetwork }}:

services:
  db:
    image: postgres:13-alpine
    env_file:
      - .env
    expose:
      - "5432"
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data_{{ .DbName }}:/var/lib/postgresql/data
    networks:
      - {{ .DockerNetwork }}
  redis:
    image: redis:alpine
    expose:
      - "6379"
    ports:
      - "127.0.0.1:6479:6479"
    networks:
      - {{ .DockerNetwork }}
