output   = "models"
wipe     = true
no-tests = true
add-enum-types = true

[psql]
  dbname = "{{ .DbName }}"
  host   = "{{ .DbHost }}"
  port   = {{ .DbPort }}
  user   = "{{ .DbUser }}"
  pass   = "{{ .DbPassword }}"
  sslmode = "disable"
  blacklist = ["schema_version", "casbin_rule"]
