package user

type RegisterUserPayload struct {
	Email    string `json:"email" validate:"required,lte=100,email"`
	Password string `json:"password" validate:"required"`

	Role string `json:"-"`
}

type LoginUserPayload struct {
	Email    string `json:"email" validate:"required,lte=100,email"`
	Password string `json:"password" validate:"required"`
}

type ActivationEmailPayload struct {
	Email string `json:"email" validate:"required,lte=100,email"`
}

type ActivateUserPayload struct {
	Token string `json:"token"`
}
